 /* Website font */
 .open-sans-webfont{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Nav style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
}
.site-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
/* Button style */
.btn{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border: 1px solid #006A50;
    color: #006A50;
    background-color: white;
    border-radius: 8px;
}
nav ul li{
    list-style: none;

}
 