 /* header & Website width */
 .header, main{
    max-width: 1080px;
    margin: 0 auto;
 }
 /* site background */
 .site-bg{
    background-color: #F1F1F3;
 }
 
 /* Website font */
 .open-sans-webfont{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Nav style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
     
}
.site-title{
    font-size: 27px;
    font-weight: bold;
    color: #0E0E0E;
}
/* Button style */
.btn{
    font-size: 15px;
    font-weight: 600;
    padding: 13px 25px;
    border: 1px solid #006A50;
    color: #006A50;
    background-color: white;
    border-radius: 8px;   
}
.btn1{
    background-color: #5490F5;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 7px;
    border: none;

}
.btn2{
    background-color:  #09A15C;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 18px;
    border: none;
    border-radius: 7px;

}
.btn3{
    background-color:  #FFC239;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 18px;
    border: none;
    border-radius: 7px;

}
nav ul li{
    list-style: none;

}
/* shared style */
.dark-all{
    color: #0E0E0E;

}
.site-heading{
    font-size: 35px;
    font-weight: bold;
}
.site-discription{
    font-size: 14px;
    color: rgba(14, 14, 14, 0.8);
}
.vision-sec-heading{
    font-size: 20px;
    font-weight: bold;
    color:  rgba(14, 14, 14, 0.8);
}
section{
    margin: 66px 0;
}
.dis-margin{
    margin: 20px 0;
}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background-color: #C6E4D6;
    padding-bottom: 70px;
}
.banner-img{
    width: 403px;
}
.banner-title{
    font-size: 19px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.8);
}
.bannar-discription{
    font-size: 48px ;
    font-weight: bold;
    color: #0E0E0E;
}
.banner-btn{
    font-size: 16px;
    font-weight: 600;
    background-color: #006A50;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
}
.banner-content{
    padding: 40px 50px;
}
/* vision section */
.Vision-card{
    display: flex;
    align-items: center;
    gap: 10px;
     

}
.card{
    padding: 19px 19px 105px 19px;
    border-radius: 16px;
    flex-basis: 100%;
}
.card1{
    background-color: rgba(84, 144, 245, 0.2);
}
.card2{
    background-color: #C6E4D6;
}
.card3{
    background-color: #F7EBCF;
     
}
/* quote section */
.quote-title{
    font-size: 20px;
    font-weight: 600;
}
.quote-content{
    background-image: url(/assets/quote-bg.png);
    background-position: left top ;
    background-repeat: no-repeat;
    padding: 40px 20px;
}
.quote-sec{
    background-color: white;
    border-radius: 24px;
}
/* news section */
.News-section{
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
.time{
    display: flex;
    gap: 10px;
}
.news-title{
    font-size: 27px;
    font-weight: bold;
}
.news-btn{
    font-size: 15px;
    font-weight: 600;
    background-color: #006A50;
    color: white;
    padding: 11px 22px;
    border-radius: 7px;
    border: none;
}
.News-section{
    background-color: white;
    border-radius: 24px;
    padding: 35px;
}
.news-image{
    border-radius: 24px;
}